@charset "utf-8";
* {
	vertical-align: bottom;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.top_img {
    height: auto;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      /* 左右中央寄せ */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
      /* 上下中央寄せ */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.top_img p  {
	text-align: center;
}
h1 {
	display: none;
}
.border {
	border-top-style: solid;
	border-top-width: 0.7px;
}

.black_box {
	background-color: #000000;
	height: 7px;
	width: 130px;
	margin-left: auto;
	margin-right: auto;
}
.contents {
	width: 90%;
	max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
	text-align: center;
	margin-bottom: 40px;
}
#concept {
	margin-bottom: 60px;}
#plofile {
	margin-bottom: 60px;
}
#skill {
	margin-bottom: 40px;
}
#works {
	margin-bottom: 60px;
}
.plofile_photo img  {
	height: auto;
	max-width: 100%;
}

.plofile_photo {
	text-align: center;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.shokaibun {
	font-size: 11px;
	line-height: 20px;
	margin-bottom: 20px;
}
.me {
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	border: 1px dotted #000000;
	padding: 20px;
}
.me li {
	padding-bottom: 5px;
}
.plofile h3 {
	font-size: 12px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 10;
	bottom: -8px;
	width: 170px;
	text-align: center;
	left: 16px;
}
section {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/*/////％棒グラフ///////*/
.skill dl {
	width: 50%;
	text-align: center;
	margin-bottom: 20px;
}
.skill dd {
	margin-left: auto;
	margin-right: auto;
}

.half dl dt span {
	font-size: 10px;
}
.half {
	display: flex;
	flex-wrap: wrap;
}
.half dl dt {
    display: flex;
    align-items: center;
    justify-content: center;
}
.illustrator {
	background: linear-gradient(to right, #000000 0%, #000000 100%, #ffffff 70%, #ffffff 100%);
	border-left: 0.7px solid;
	border-right: 0.7px solid;
	border-bottom: 0.7px solid;
	border-top: 0.7px solid;
	border-radius: 30px;
	width: 120px;
	height: 10px;
}
.photoshop {
	background: linear-gradient(to right, #000000 0%, #000000 100%, #ffffff 70%, #ffffff 100%);
	border-left: 0.7px solid;
	border-right: 0.7px solid;
	border-bottom: 0.7px solid;
	border-top: 0.7px solid;
	border-radius: 30px;
	width: 120px;
	height: 10px;
}
.html {
	background: linear-gradient(to right, #000000 0%, #000000 100%, #ffffff 60%, #ffffff 100%);
	border-left: 0.7px solid;
	border-right: 0.7px solid;
	border-bottom: 0.7px solid;
	border-top: 0.7px solid;
	border-radius: 30px;
	width: 120px;
	height: 10px;
}
.css {
	background: linear-gradient(to right, #000000 0%, #000000 100%, #ffffff 60%, #ffffff 100%);
	border-left: 0.7px solid;
	border-right: 0.7px solid;
	border-bottom: 0.7px solid;
	border-top: 0.7px solid;
	border-radius: 30px;
	width: 120px;
	height: 10px;
}
.jquery {
	background: linear-gradient(to right, #000000 0%, #000000 80%, #ffffff 50%, #ffffff 100%);
	border-left: 0.7px solid;
	border-right: 0.7px solid;
	border-bottom: 0.7px solid;
	border-top: 0.7px solid;
	border-radius: 30px;
	width: 120px;
	height: 10px;
}
.javascript {
	background: linear-gradient(to right, #000000 0%, #000000 60%, #ffffff 50%, #ffffff 100%);
	border-left: 0.7px solid;
	border-right: 0.7px solid;
	border-bottom: 0.7px solid;
	border-top: 0.7px solid;
	border-radius: 30px;
	width: 120px;
	height: 10px;
}
.php {
	background: linear-gradient(to right, #000000 0%, #000000 30%, #ffffff 0%, #ffffff 100%);
	border-left: 0.7px solid;
	border-right: 0.7px solid;
	border-bottom: 0.7px solid;
	border-top: 0.7px solid;
	border-radius: 30px;
	width: 120px;
	height: 10px;
}
.a001 {
	background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #ffffff 50%, #ffffff 100%);
	border-left: 0.7px solid;
	border-right: 0.7px solid;
	border-bottom: 0.7px solid;
	border-top: 0.7px solid;
	border-radius: 30px;
	width: 120px;
	height: 10px;
}

/*///////works////////*/
.website01 {
	border-style: solid;
	border-width: 0.5px;
	width: 300px;
	height: 150px;
	margin-bottom: 30px;
}
.website01 p  {
	text-align: center;
	margin-top: 60px;
	padding-top: 0px;
	padding-right: 0px;

}
.website01 p a {
	background-color: #000000;
	padding-left: 90px;
	padding-right: 90px;
	color: #FFFFFF;
	padding-top: 39px;
	padding-bottom: 45px;
}

.website01 p a:hover{
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;
}
.others01 {
	background-color: #000000;
	border-style: solid;
	border-width: 0.5px;
	width: 300px;
	height: 150px;
	margin-top: 0px;
}
.others01 p  {
	text-align: center;
	margin-top: 60px;
	padding-top: 0px;
	padding-right: 0px;

}
.others01 p a {
	background-color: #FFFFFF;
	padding-left: 90px;
	padding-right: 90px;
	color: #000000;
	padding-top: 39px;
	padding-bottom: 45px;
}
.others01 p a:hover {
    background-color: #000000;
    color: #FFFFFF;
    transition: 0.5s;
}


/*/////contact/////*/
.contact form {
	text-align: center;
}
#mail {
	border: 0.5px solid #000000;
	margin-bottom: 20px;
}
#name {
	margin-bottom: 20px;
	border: 0.5px solid #000000;
}
#text {
    margin-bottom: 20px;
    border: 0.5px solid #000000;
}
.buttom {
	margin-bottom: 20px;
}
form .buttom input {
	padding-left: 15px;
	background-color: #FFFFFF;
	color: #000000;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0.5px solid #000000;
}

footer {
    background-color: #000000;
    height: 100px;
}
footer p {
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
}



@media (max-width:1030px){
/*///////menu///////*/
nav{
	width: 100%;
	height: 70px;
	position: fixed;
    z-index: 20;
}

.drawer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	padding-left: 20px;
	background-color: #000000;
	width: 50px;
	margin-left: auto;
}
.navbar_toggle{
 z-index:9999;
}
.navbar_toggle_icon {
 position: relative;
 display: block;
 height: 2px;
 width: 30px;
 background: #ffffff;
 -webkit-transition: ease .5s;
 transition: ease .5s;
}
.navbar_toggle_icon:nth-child(1) {
 top: 0;
}
.navbar_toggle_icon:nth-child(2) {
 margin: 8px 0;
}
.navbar_toggle_icon:nth-child(3) {
 top: 0;
}
/*OPEN時の動き*/
.navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
 top: 10px;
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
}
.navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
 opacity: 0;
}
.navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
 top: -10px;
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
.menu{
 -webkit-transform: translateY(-200%);
 transform: translateY(-200%);
 -webkit-transition:ease .5s;
 transition:ease .5s;

}
.menu ul li{
	text-align: center;
}
.menu ul li a{
	color: #ffffff;
	background-color: #000000;
	display: block;
    padding-top: 2em;
    padding-bottom: 2em;
}
/*OPEN時の動き*/
.menu.open {
 -webkit-transform:translateX(0);
 transform:translateX(0);
 overflow-y: auto;
 -webkit-overflow-scrolling: touch;
}
/*//////menu ここまで//////*/    

.website01 {
margin-left: auto;
margin-right: auto;
}
.others01 {
margin-left: auto;
margin-right: auto;
}
    
}


/*
.container {
    display: flex;
}

ul {
	position: fixed;
}

ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 3em;
	background-color: #000000;
	letter-spacing: 3px;
}

ul li a:hover {
	background-color: #FFFFFF;
	color: #000000;
}

.contents {
	width: 65%;
	margin-left: auto;
}

.top_img p {
	text-align: center;
}*/

@media (min-width:1031px){
	.drawer {
		display: none;
	}
	.menu {
	position: fixed;
	margin-top: 25px;
	}
	ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 3em;
	background-color: #000000;
	letter-spacing: 3px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
	ul li a:hover {
		background-color: #FFFFFF;
		color: #000000;
		transition: 0.5s;
	}
	.menu ul li {
	margin-bottom: 25px;
	letter-spacing: 3px;
	width: 150px;
	position: relative;
	left:-300px;
	}
	ul{
		margin: 0;
		padding: 0;
		position: relative;
	}
	.contents {
		width: 100%;
	}
	.plpfile_pc {
	width: 70%;
	margin-left: auto;
	}
	.plofile_photo  {
	text-align: left;
	}
.half {
	margin-left: auto;
	width: 70%;
}

.half dl {
	width: 25%;
}
.center {
	display: flex;
	width: 70%;
	margin-left: auto;
}
.others01 {
	margin-left: auto;
	margin-right: auto;


}

.mail {
	width: 70%;
	margin-left: auto;
	margin-right: 33px;
}
#text {
	width: 70%;
	display: block;
}
#name {
	width: 50%;
	display: block;
}
	#mail {
	width: 50%;
	display: block;
	margin-left: 0px;
	}

.mail form .buttom {
	width: 70%;
	text-align: right;
}

#skill {
    flex-wrap: wrap;
}

.mail_05   {
	top: -24px;
	left: 22px;
}

nav .mail_icon img {
	padding-left: 21px;
	padding-top: 4px;
}
.mail form {
	margin-left: 30px;
}
















	



		





    
}
